{% load staticfiles %}
{% load charts %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'strategy_runner/style.css' %}" />
    <title>
        {% block title %}
            Trading strategy based on PCA principle realization
        {% endblock %}
    </title>
</head>

<body>
<div id="nav">
    {% block menu %}
        <ul class="menu">
            <li>
                <a href="{% url 'strategy_runner:history' %}">History</a></li>
            <li>
                <a href="{% url 'strategy_runner:scheduler' %}">Scheduler</a>
            </li>
        </ul>
    {% endblock %}
</div>

<div id="form">
    {% block form %}{% endblock %}
</div>

<div id="graphs">
    {% block graphs %}
        {% if prices %}
            {% for price_list in prices %}
                {% chart Line 50.74 51 50.28 50.63 50.93 50.23 50.03 %}
                    {% axes type xy %}
                    {% axes range 1 50 51 %}
                    {% label Jan Feb Mar Apr May Jun Jul %}
                {% endchart %}
            {% endfor %}
{#        print graphs with y axis prices#}
        {% endif %}

        {% if returns %}
            {% chart Line 50.74 51 50.28 50.63 50.93 50.23 50.03 %}
                {% axes type xy %}
                {% axes range 1 50 51 %}
                {% label Jan Feb Mar Apr May Jun Jul %}
            {% endchart %}
        {% endif %}

        {% if pl %}
            {% chart Line 50.74 51 50.28 50.63 50.93 50.23 50.03 %}
                {% axes type xy %}
                {% axes range 1 50 51 %}
                {% label Jan Feb Mar Apr May Jun Jul %}
            {% endchart %}
        {% endif %}
    {% endblock %}
</div>

</body>
</html>