{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'strategy_runner/style.css' %}" />
    <title>
        {% block title %}
            Trading strategy based on PCA principle realization
        {% endblock %}
    </title>
</head>

<body>
<div id="nav">
    {% block menu %}
        <ul class="menu">
            <li>
                <a href="{% url 'strategy_runner:history' %}">History</a></li>
            <li>
                <a href="{% url 'strategy_runner:scheduler' %}">Scheduler</a>
            </li>
        </ul>
    {% endblock %}
</div>

<div id="form">
    {% block form %}{% endblock %}
</div>

<div id="graphs">
    {% block graphs %}{% endblock %}
</div>

</body>
</html>